h1
{
    font-size: 50px; /* Paragraphes de 60 pixels */
    font-family: Georgia, 'Times New Roman', Times, serif;
    position:absolute;
    left:450px;
    top:20px;
    color: #603c0d
}
h2
{
    font-size: 40px; /* Paragraphes de 50 pixels */
    font-family: Freestyle script;
    position:absolute;
    left:450px;
    top:180px;
    color: #008037
}
h3
{
    font-size: 23px; /* Paragraphes de 25 pixels */
    font-family: Brush script MT;
    position:absolute;
    right:950px;
    top:200px;
    color : #603C0D 
}
h4
{
    font-size: 20px; /* Paragraphes de 20 pixels */
    font-family: Brush script MT;
    position:absolute;
    left:2px;
	top:20px;
    color : #603C0D 
}